Repository dotnet/efcore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AndriySvyryd, @cincuranet, @dotnet/efteam

test: update with main
  test/EFCore.Sqlite.FunctionalTests/Migrations/MigrationsSqliteTest.cs
Owners: none

Correct nullable annotations on raw SQL APIs
  src/EFCore.Relational/Extensions/RelationalDatabaseFacadeExtensions.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused.
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused.
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused.
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Remove tests using IdentityServer4.EntityFramework Fixes #34485
  test/Directory.Packages.props
  test/EFCore.AspNet.InMemory.FunctionalTests/AppServiceProviderFactoryTest.cs
  test/EFCore.AspNet.InMemory.FunctionalTests/ConfigurationDbContextInMemoryTest.cs
  test/EFCore.AspNet.InMemory.FunctionalTests/EFCore.AspNet.InMemory.FunctionalTests.csproj
  test/EFCore.AspNet.InMemory.FunctionalTests/PersistedGrantDbContextInMemoryTest.cs
  test/EFCore.AspNet.Specification.Tests/ConfigurationDbContextTestBase.cs
  test/EFCore.AspNet.Specification.Tests/EFCore.AspNet.Specification.Tests.csproj
  test/EFCore.AspNet.Specification.Tests/PersistedGrantDbContextTestBase.cs
  test/EFCore.AspNet.SqlServer.FunctionalTests/ConfigurationDbContextSqlServerTest.cs
  test/EFCore.AspNet.SqlServer.FunctionalTests/EFCore.AspNet.SqlServer.FunctionalTests.csproj
  test/EFCore.AspNet.SqlServer.FunctionalTests/PersistedGrantDbContextSqlServerTest.cs
  test/EFCore.AspNet.Sqlite.FunctionalTests/ConfigurationDbContextSqliteTest.cs
  test/EFCore.AspNet.Sqlite.FunctionalTests/EFCore.AspNet.Sqlite.FunctionalTests.csproj
  test/EFCore.AspNet.Sqlite.FunctionalTests/PersistedGrantDbContextSqliteTest.cs
  test/EFCore.SqlServer.FunctionalTests/Query/JsonQueryJsonTypeSqlServerTest.cs
Owners: none

Remove EXCLUDE_ON_MAC
  test/EFCore.AspNet.InMemory.FunctionalTests/AppServiceProviderFactoryTest.cs
Owners: none

Some NRT testing tweaks
  src/EFCore/Metadata/Conventions/NonNullableConventionBase.cs
  src/EFCore/Metadata/Conventions/NonNullableNavigationConvention.cs
  src/EFCore/Metadata/Conventions/NonNullableReferencePropertyConvention.cs
  test/EFCore.Tests/Metadata/Conventions/NonNullableReferencePropertyConventionTest.cs
Owners: @dotnet/efteam

Remove tests using IdentityServer4.EntityFramework (#36890)
  test/Directory.Packages.props
  test/EFCore.AspNet.InMemory.FunctionalTests/AppServiceProviderFactoryTest.cs
  test/EFCore.AspNet.InMemory.FunctionalTests/ConfigurationDbContextInMemoryTest.cs
  test/EFCore.AspNet.InMemory.FunctionalTests/EFCore.AspNet.InMemory.FunctionalTests.csproj
  test/EFCore.AspNet.InMemory.FunctionalTests/PersistedGrantDbContextInMemoryTest.cs
  test/EFCore.AspNet.Specification.Tests/ConfigurationDbContextTestBase.cs
  test/EFCore.AspNet.Specification.Tests/EFCore.AspNet.Specification.Tests.csproj
  test/EFCore.AspNet.Specification.Tests/PersistedGrantDbContextTestBase.cs
  test/EFCore.AspNet.SqlServer.FunctionalTests/ConfigurationDbContextSqlServerTest.cs
  test/EFCore.AspNet.SqlServer.FunctionalTests/EFCore.AspNet.SqlServer.FunctionalTests.csproj
  test/EFCore.AspNet.SqlServer.FunctionalTests/PersistedGrantDbContextSqlServerTest.cs
  test/EFCore.AspNet.Sqlite.FunctionalTests/ConfigurationDbContextSqliteTest.cs
  test/EFCore.AspNet.Sqlite.FunctionalTests/EFCore.AspNet.Sqlite.FunctionalTests.csproj
  test/EFCore.AspNet.Sqlite.FunctionalTests/PersistedGrantDbContextSqliteTest.cs
  test/EFCore.SqlServer.FunctionalTests/Query/JsonQueryJsonTypeSqlServerTest.cs
Owners: none

Correct nullable annotations on raw SQL APIs (#36902)
  src/EFCore.Relational/Extensions/RelationalDatabaseFacadeExtensions.cs
Owners: @dotnet/efteam

Some NRT testing tweaks (#36905)
  src/EFCore/Metadata/Conventions/NonNullableConventionBase.cs
  src/EFCore/Metadata/Conventions/NonNullableNavigationConvention.cs
  src/EFCore/Metadata/Conventions/NonNullableReferencePropertyConvention.cs
  test/EFCore.Tests/Metadata/Conventions/NonNullableReferencePropertyConventionTest.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused. (#36895)
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused. (#36898)
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Fix performance degradation in converters because the instance was not reused. (#36897)
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Remove UseOldBehavior36856 field
  src/EFCore/Storage/Json/JsonConvertedValueReaderWriter.cs
Owners: @dotnet/efteam

Fix UpdateExpression.VisitChildren() to retain Tags
  src/EFCore.Relational/Query/SqlExpressions/UpdateExpression.cs
  test/EFCore.Specification.Tests/BulkUpdates/NorthwindBulkUpdatesTestBase.cs
  test/EFCore.SqlServer.FunctionalTests/BulkUpdates/NorthwindBulkUpdatesSqlServerTest.cs
  test/EFCore.Sqlite.FunctionalTests/BulkUpdates/NorthwindBulkUpdatesSqliteTest.cs
Owners: @dotnet/efteam

Apply file-scoped namespace to CosmosTransactionalBatchWrapper
  src/EFCore.Cosmos/Storage/Internal/CosmosTransactionalBatchWrapper.cs
  test/EFCore.Cosmos.FunctionalTests/CosmosTransactionalBatchTest.cs
Owners: @dotnet/efteam

Fix UpdateExpression.VisitChildren() to retain Tags (#36910)
  src/EFCore.Relational/Query/SqlExpressions/UpdateExpression.cs
  test/EFCore.Specification.Tests/BulkUpdates/NorthwindBulkUpdatesTestBase.cs
  test/EFCore.SqlServer.FunctionalTests/BulkUpdates/NorthwindBulkUpdatesSqlServerTest.cs
  test/EFCore.Sqlite.FunctionalTests/BulkUpdates/NorthwindBulkUpdatesSqliteTest.cs
Owners: @dotnet/efteam

Apply file-scoped namespace to CosmosTransactionalBatchWrapper (#36914)
  src/EFCore.Cosmos/Storage/Internal/CosmosTransactionalBatchWrapper.cs
  test/EFCore.Cosmos.FunctionalTests/CosmosTransactionalBatchTest.cs
Owners: @dotnet/efteam

Correct Cosmos ReadItem logic for abstract base types (#36884)
  src/EFCore.Cosmos/Query/Internal/CosmosReadItemAndPartitionKeysExtractor.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryDiscriminatorInIdTest.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryFixtureBase.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryNoDiscriminatorInIdTest.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryRootDiscriminatorInIdTest.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryTest.cs
  test/EFCore.Cosmos.FunctionalTests/Query/ReadItemPartitionKeyQueryTestBase.cs
Owners: @dotnet/efteam

Fix tests.
  test/EFCore.Sqlite.FunctionalTests/Migrations/MigrationsSqliteTest.cs
Owners: none

Switch defer_foreign_keys to 1/0.
  src/EFCore.Sqlite.Core/Migrations/SqliteMigrationsSqlGenerator.cs
  test/EFCore.Sqlite.FunctionalTests/Migrations/MigrationsSqliteTest.cs
  test/EFCore.Sqlite.FunctionalTests/Migrations/SqliteMigrationsSqlGeneratorTest.cs
Owners: @dotnet/efteam

Use `PRAGMA defer_foreign_keys` instead of `PRAGMA foreign_keys` when migrating (#35873)
  src/EFCore.Sqlite.Core/Migrations/SqliteMigrationsSqlGenerator.cs
  test/EFCore.Sqlite.FunctionalTests/Migrations/MigrationsSqliteTest.cs
  test/EFCore.Sqlite.FunctionalTests/Migrations/SqliteMigrationsSqlGeneratorTest.cs
Owners: @dotnet/efteam

Ensure case-insensitive parameter name uniqueness
  src/EFCore.Relational/Query/Internal/RelationalParameterProcessor.cs
  test/EFCore.Cosmos.FunctionalTests/Query/NorthwindWhereQueryCosmosTest.cs
  test/EFCore.Specification.Tests/Query/NorthwindWhereQueryTestBase.cs
  test/EFCore.SqlServer.FunctionalTests/Query/NorthwindWhereQuerySqlServerTest.cs
Owners: @dotnet/efteam

Update branding to 8.0.22
  eng/Versions.props
Owners: @AndriySvyryd, @cincuranet

Update branding to 9.0.11
  eng/Versions.props
Owners: @AndriySvyryd, @cincuranet

Merged PR 53888: [internal/release/8.0] Update dependencies from dnceng/internal/dotnet-runtime
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: @AndriySvyryd, @cincuranet

Ensure case-insensitive parameter name uniqueness (#36922)
  src/EFCore.Relational/Query/Internal/RelationalParameterProcessor.cs
  test/EFCore.Cosmos.FunctionalTests/Query/NorthwindWhereQueryCosmosTest.cs
  test/EFCore.Specification.Tests/Query/NorthwindWhereQueryTestBase.cs
  test/EFCore.SqlServer.FunctionalTests/Query/NorthwindWhereQuerySqlServerTest.cs
Owners: @dotnet/efteam

Split official pipeline
  .config/guardian/.gdnbaselines
  .config/guardian/gdnbaselines
  EFCore.sln
  azure-pipelines-internal-tests.yml
  azure-pipelines-public.yml
  azure-pipelines.yml
Owners: @AndriySvyryd, @cincuranet

Update branding to 9.0.11 (#36925)
  eng/Versions.props
Owners: @AndriySvyryd, @cincuranet

Update branding to 8.0.22 (#36924)
  eng/Versions.props
Owners: @AndriySvyryd, @cincuranet

fix:Align JSON and M.D.Sqlite representations , #36749
  src/EFCore.Sqlite.Core/Storage/Internal/SqliteByteArrayTypeMapping.cs
  src/EFCore.Sqlite.Core/Storage/Internal/SqliteTypeMappingSource.cs
  src/EFCore.Sqlite.Core/Storage/Json/Internal/SqliteJsonTimeOnlyReaderWriter.cs
  src/Microsoft.Data.Sqlite.Core/SqliteValueBinder.cs
  test/EFCore.Specification.Tests/JsonTypesTestBase.cs
  test/EFCore.Sqlite.FunctionalTests/Scaffolding/Baselines/BigModel/ManyTypesEntityType.cs
  test/EFCore.Sqlite.FunctionalTests/Scaffolding/Baselines/BigModel_with_JSON_columns/ManyTypesEntityType.cs
  test/EFCore.Sqlite.FunctionalTests/Types/SqliteMiscellaneousTypeTest.cs
  test/EFCore.Sqlite.FunctionalTests/Types/SqliteTemporalTypeTest.cs
  test/EFCore.Sqlite.FunctionalTests/Update/JsonUpdateSqliteTest.cs
Owners: @dotnet/efteam

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/azure-pipelines.yml                    @AndriySvyryd @cincuranet
/azure-pipelines-public.yml             @AndriySvyryd @cincuranet
/github-merge-flow.jsonc                @AndriySvyryd @cincuranet
/global.json                            @AndriySvyryd @cincuranet
/NuGet.config                           @AndriySvyryd @cincuranet
/.config/                               @AndriySvyryd
/.github/                               @dotnet/efteam
/eng/                                   @AndriySvyryd @cincuranet
/src/                                   @dotnet/efteam
